In [1]:
#Installing packages
import pandas as pd
import numpy as np
import sklearn
import glob

In [11]:
#Ofc
train = pd.read_csv(r"D:\Amex -AV\train_AUpWtIz\train.csv")
trnx_data = pd.read_csv(r"D:\Amex -AV\train_AUpWtIz\customer_transaction_data.csv")
campaign = pd.read_csv(r"D:\Amex -AV\train_AUpWtIz\campaign_data.csv")
test = pd.read_csv(r"D:\Amex -AV\test_QyjYwdj.csv")
coupon_item = pd.read_csv(r"D:\Amex -AV\train_AUpWtIz\coupon_item_mapping.csv")
cust = pd.read_csv(r"D:\Amex -AV\train_AUpWtIz\customer_demographics.csv")
items = pd.read_csv(r"D:\Amex -AV\train_AUpWtIz\item_data.csv")


##Ghar

In [13]:
items.shape

(74066, 4)

In [14]:
cust.shape

(760, 7)

In [4]:
train.shape

(78369, 15)

In [5]:
trnx_data.shape

(1324566, 7)

In [6]:
campaign.shape

(28, 4)

In [7]:
test.shape

(50226, 4)

In [8]:
coupon_item.shape

(92663, 2)

In [17]:
coupon_item.head()

   coupon_id  item_id
0        105       37
1        107       75
2        494       76
3        522       77
4        518       77